name: CI

on:
  push:

env:
  GO_VERSION: "1.25.1"
jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version: ${{ env.GO_VERSION }}
      - name: Lint
        uses: magefile/mage-action@v1
        with:
          version: latest
          args: lint

  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version: ${{ env.GO_VERSION }}
      - name: test
        uses: magefile/mage-action@v1
        with:
          version: latest
          args: test
